/*body{
    width: 100%;
}
main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: red;   
}
.intro{
    background-color: yellow;
    grid-row: 1/2;
    grid-column: 1/2;
    align-items: center;
    justify-content: center;
}
.desarrollo{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
    justify-content: center;
    align-items: center;
}
.episodios{
    grid-row: 1/3;
    grid-column: 1/5;
  /*grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;*//*
    color: white;
    padding-top: 50px;    
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    /*justify-content: center;
    align-items: center;*//*
    clip-path: polygon(
     0 2%,
     100% 0,
     100% 98%,
     0% 100%);
    padding-bottom: 148px;
}
.episode1{
    grid-row: 1/3;
    grid-column: 1/3;
    z-index: 1;
}
.episode2{
    grid-row: 2/3;
    grid-column: 1/3;
    z-index: 1;
}
.episode3{
    grid-row: 3/4;
    grid-column: 1/3;
    z-index: 1;
}
.episode4{
    grid-row: 4/5;
    grid-column: 1/3;
    z-index: 1;
}

.phone{
    height: 519px;
}
main .reflexion{
    grid-row: 5/6;
    grid-column: 1/3;
    position: relative;
    top: -100px;
}

.invitados{
    /*view.frame = CGRectMake(0, 347, 320, 1203.5);*/ /*   
    grid-row: 6/7;
    grid-column: 1/3;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: yellow;
}
.invitados img{
    height: 243px;
    width: 320px;
  
}
.coneccion{
    grid-row: 7/8;
    grid-column: 1/3;
    flex-wrap: wrap;
}
.novedades{
    grid-row: 8/9;
    grid-column: 1/3;

}

.reflexion .texto{
    padding:11px;

}
h2{
    font-size: 36px;
    font-family: 'IBM Plex Sans', sans-serif;
    padding-bottom: 8px;
}
#reflex{
    font-size: 14px;
    padding-right: 5px;
    padding-left: 5px;
}


--------------------------------
*/



main {
    position: relative;
    top: 44px;
    width: auto;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 369px 1042.6px 660px 826px 315px 518px;
    justify-content: center;
    
}
.intro{
    grid-row: 1/2;
    grid-column: 1/3;
    height: 150px;
    background-color: yellow;
    padding: 16px;

}
.episodios{
   grid-row: 2/3;
    grid-column: 1/2;
    background-color: blue;
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: 10% 40% 40%;
}
.reflexion{
   background-color: pink;
   grid-row: 3/4;
   grid-column: 1/2;
   display: flex;
   justify-content: center;

}
.invitados {

   grid-row: 4/5;
   grid-column: 1/2;
   background-color: grey;
   height: 826px;
}
.invitados .imagenes {
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
}
.invitados img {
   width:480px;
   height: 364px;

}
.conexion{
   grid-row: 5/6;
   grid-column: 1/2;
   background-color: green;
   
}
.conexion .simbolos{
   display: flex;
   justify-content: space-around;
   text-align: center;
}
.conexion img {
   height: 104px;
   width: 104px;

}

.novedades{
   grid-row: 6/7;
   grid-column: 1/2;
   background-color: gold;
   
}


