footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.iconosredes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

               /* <h2>¿Querés las ultimas novedades?</h2>

                <button class="escucha">ESCUCHÁ LOS EPISODIOS</button>

            </article>
            </section>

    </main>
     <div class="top">
            <p>© 2019- Hello blue pale dot</p>
        </div>
        <div class="iconosredes"><i class="fab fa-spotify"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-facebook"></i>
            <i class="fab fa-telegram"></i>
        </div>

    </footer>*/