footer{
    margin-top: 80px;
    position: relative;
    bottom: 0px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*height: 121px;*/

}
.background2{
    padding-top: 75px;
    background: linear-gradient(225deg, #0000FF , #0000A3);
    /*transform: skewY(-5.5deg);*/
    clip-path: polygon(
    0 35%,
    100% 0,
    100% 100%,
    0 100%
    );
    color: #FFFFFF;
    padding-bottom: 150px;
}

.novedades{
 /*transform: skewY(5.5deg);*/
   grid-row: 6/7;
   grid-column: 1/2;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 150px 16px 0px 16px;
}

.novedades h2{
    text-align: center;
    margin-bottom: 36px;
    font-weight: 400;
}
.escucha{
    height: 48px; 
    background: #00F3BB;
    font-family: 'IBM Plex Mono', monospace;
    z-index: 0;
    position: relative;
    cursor: pointer;
    font-size: 18px;
    width: 345px;
}
.escucha::before {
    content:'';
    
    background: linear-gradient(to right, #00F0B8, #0000FE);
    position: absolute;
    z-index: -1;
    top:0px;
    left:0px;
    width: inherit;
    height: inherit;
    opacity: 0;
    transition: all 0.4s ease-in-out;
    width: 345px;

}
.escucha:hover::before {
    opacity: 1;
}
.escucha:hover{
   color: white;
}
.escucha:focus{
    outline: 0;
 }
.lastline{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 121px;
    width: 100%;
}


.iconosredes{
    position: relative;
    bottom: 7px;
    padding-top: 7px;
    display: flex;
    justify-content: center;
    /*padding-left: 47px;
    padding-right: 47px;*/
    width:  270px;
    color: #060A24;

}
footer p {
    font-size: 14px;
    padding-bottom: 24px;
    text-align: center;
}
.iconosredes a{
    display: flex;
    text-decoration: none;
    color: #060A24;
    height: 28px;
    width: 14px;
    padding-bottom: 31px;
    transform: translateY(-5px);
}

.iconosredes i {
    height: 28px;
    width: 14px;
    padding-bottom: 31px;
}
.icono1{
    display: flex;
    justify-content: center;

}

.icono2{
    display: flex;
    justify-content: center;
}
.icono3{
    display: flex;
    justify-content: center;
}
.icono4{
    display: flex;
    justify-content: center;
}
 /* ---------------------------------------------------------*/
    /* ---------------------------------------------------------*/
    /* ---------------------------------------------------------*/
    /* ---------------------------------------------------------*/
    /* ---------------------------------------------------------*/
    /* ---------------------------------------------------------*/
    /* ---------------------------------------------------------*/



@media screen and (min-width: 763px){

    footer{
        
        /*position: relative;
        bottom: -50px;*/
        background-color: white;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 95px;
    
    }
    .iconosredes{
        position: relative;
        top:5px;
        display: flex;
        justify-content: center;
        /*padding-left: 47px;
        padding-right: 47px;*/
        width: 30%;
        max-width: 270px;
        padding-right: 7%;
        align-items: center;
    
    }
    footer p {
        position: relative;
        top: 13px;
        display: table-cell;
        vertical-align: middle;
        font-size: 14px;
        padding-left: 7%;
        text-align: start;

    }
    .iconosredes i {
        height: 28px;
        width: 14px;
    }
    .icono1{
        display: flex;
        justify-content: center;
    }
    
    .icono2{
        display: flex;
        justify-content: center;
    }
    .icono3{
        display: flex;
        justify-content: center;
    }
    .icono4{
        display: flex;
        justify-content: center;
    }
}
